/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2015, 4:00:07 PM
    Author     : Yared
*/


html { 
    background-color: #3B3A3F; /*#558C89; */
    height: 100%;
}
body { 
    min-height: 100%;
    width: 750px;
    padding: 20px;
    margin: -2px auto;
    background-color: #ECECEC; /*#F8F8F8; /* #ECECEA */
    position: relative; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
}

/* Header */
header {
/*    background-color: #3B3A3F; /*#74AFAD;*/
    margin: -20px;
    padding: 15px 5px 30px;
    text-align: center;
}
.logo {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
    text-shadow: 3px 3px 1px #fff, 8px 8px 8px #fff;
    text-align: center;
}
    /* Language */
.lang {
    position: absolute;
    right: 40px;
}
hr.header {
  background: none repeat scroll 0 0 #842121; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.7em 0 1.4em;
  border: none; 
}

/* Main Body Section */
main {
    margin: 20px;
    padding: 10px;
    min-height: 450px;
}
    h1, h2, h3 {
        color: #282828;
        font-weight: bold;
    }
    h1, h2 {
        font-family: "Arial", cursive, sans-serif;
    }
    h3 {

        font-family: Arial, fantasy;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font: 12px arial;
    }
/* Form & Table */
table, table.form {
    font-family: 'Roboto', sans-serif;
}
    table.form, table.form th, table.form td {
        border: none;
        border-collapse: collapse;
    }
    table.form th {
        font-weight: normal;
        font-size: 26px;
        text-align: center;
        padding: 5px
    }
    table.form td {
        padding: 5px;
        font-size: 14px;
        font-weight: normal;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
        font: Arial;
    }

/* Footer */
footer {
    background-color: #842121; /*#74AFAD;*/
    margin: -20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px 30px;
    color: #fff;
    font-size: 19px;
    font-weight: lighter;
}
 
/* 2 Columns */
#left_col {
    float:left;
    width:50%
}
#right_col {
    float:right;
    width:50%;
}
