/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : March 14, 2015, 6:09:31 PM
    Author     : Yared
*/
@import url(http://fonts.googleapis.com/css?family=Anton);
html { 
    background-color: #3B3A3F; /*#558C89; */
    height: 100%;
}
body {
    margin: 0;
}
#page { 
    min-height: 100%;
    width: 750px;
    padding: 0 20px 20px;
    margin: -2px auto;
    background-color: #ECECEC; /*#F8F8F8; /* #ECECEA */
    position: relative; 
}

/* Header */
#header {
    padding: 5px;
    text-align: center;
}
.logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 48px;
    text-shadow: 3px 3px 1px #fff, 8px 8px 8px #fff;
    text-align: center;
}
    /* Language */
.lang {
    position: absolute;
    right: 40px;
    padding: 0 3px;
}

hr.header {
  background: none repeat scroll 0 0 #842121; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.7em 0 1.4em;
  border: none; 
}

/* Main Body Section */
#mainBody {
    padding: 5px;
    min-height: 450px;
    font-family: "Lucida Console", Arial;
}
    h1, h2, h3 {
        color: #282828;
        font-weight: bold;
    }
    h1, h2 {
        font-family: "Arial", sans-serif;
    }
    h3 {

        font-family: "Arial", sans-serif;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font: 14px arial;
    }
/* Form & Table */
table, table.form {
    font-family: 'Lucida Console', sans-serif;
}
    table.form, table.form th, table.form td {
        border: none;
        border-collapse: collapse;
    }
    table.form th {
        font-family: 'Verdana', sans-serif;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        padding: 5px
    }
    table.form td {
        padding: 5px;
        font-size: 16px;
        font-weight: normal;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
        
    }

/* Footer */
#footer {
    background-color: #842121; /*#74AFAD;*/
    margin: 0 -20px -20px;
    font-family: 'Verdana', sans-serif;
    padding: 20px 40px 20px;
    color: #fff;
    font-size: 19px;
    font-weight: lighter;
}
 
/* 2 Columns */
#left_col {
    float:left;
    width:50%
}
#right_col {
    float:right;
    width:50%;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #a8a8a8;
    font-weight: bold;
}