/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2015, 4:00:07 PM
    Author     : Yared
*/

html { 
    background-color: #C8C8C8; 
    height: 100%;
}
body { 
    height: 100%;
    width: 75%;
    padding: 20px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -10px;
    margin-top: -10px;
    background-color: #F8F8F8;
}
h1, h2, h3 {
    color: #282828;
    font-weight: bold;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14;
}
p {
    font: 12px arial;
}
table.form, table.form th, table.form td {
    border: none;
    border-collapse: collapse;
}
table.form th {
    background-color: red;
    text: bold;
    font-size: 18px;
}
table.form th, table.form td {
    padding: 5px;
}
.right {
    float: right;
}
.left {
    float: left;
}